@model IEnumerable<VolleyballRallyManager.Lib.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<div class="container">
    <div class="card">
    <div class="card-header">
            <div class="row mb-3">
                <div class="col">
                <h1>Matches</h1>
                </div>
                <div class="col-auto">
                @if(ViewBag.Divisions != null){
                    <div class="btn-group" role="group">
                    <a class="btn btn-outline-secondary active" asp-action="Index">All</a>
                        @foreach(Division division in ViewBag.Divisions){
                        <a class="btn btn-outline-secondary" asp-route-DivisionId="@division.Id">@division.Name</a>
                    }
                    </div>
                    }
                </div>
            </div>
            </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Round</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Match item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">@item.MatchNumber</a>
                            </td>
                            <td>
                                <a class="btn btn-link" asp-route-DivisionId="@item.DivisionId" asp-route-RoundId="@item.RoundId">
                                    @item.Round?.Name
                                </a>

                                <a class="btn btn-link" asp-route-DivisionId="@item.DivisionId" asp-route-GroupName="@item.GroupName">
                                    @item.GroupName
                                </a>

                                <a class="btn btn-link" asp-route-DivisionId="@item.DivisionId">
                                    @item.Division.Name
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-secondary" asp-route-TeamId="@item.HomeTeamId">
                                    <i class="bi bi-filter"></i>
                                </a>
                                @Html.DisplayFor(modelItem => item.HomeTeam, "Team")
                            
                            </td>
                            <td>
                                <a class="btn btn-outline-secondary" asp-route-TeamId="@item.AwayTeamId">
                                    <i class="bi bi-filter"></i>
                                </a>
                                @Html.DisplayFor(modelItem => item.AwayTeam, "Team")
                            </td>
                            <td>@item.HomeTeamScore - @item.AwayTeamScore</td>
                            <td>
                                <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
