@model IEnumerable<VolleyballRallyManager.Lib.Models.Match>

@{
    ViewData["Title"] = "Matches";
}

<div class="container">
    <h1>Matches</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Round</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Score</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RoundId</td>
                            <td>@item.HomeTeam.Name</td>
                            <td>@item.AwayTeam.Name</td>
                            <td>@item.HomeTeamScore - @item.AwayTeamScore</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
