@model IEnumerable<VolleyballRallyManager.Lib.Models.Match>

@{
    ViewData["Title"] = "Matches";
    string scheduledTimeFormat = ViewBag?.IsMultiDay == true ? "MMM dd, HH:mm" : "HH:mm";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row mb-3">
                <div class="col">
                    <h1>Matches</h1>
                    @if (ViewBag.Subtitle != null)
                    {
                        <h2>@ViewBag.Subtitle</h2>
                    }
                </div>
                <div class="col-auto">
                    @if (ViewBag.Divisions != null)
                    {
                        <div class="btn-group" role="group">
                            <a class="btn btn-outline-secondary" asp-action="Index">All</a>
                            @foreach (TournamentDivision division in ViewBag.Divisions)
                            {
                                <a class="btn btn-outline-secondary"
                                    asp-route-DivisionId="@division.DivisionId">@division.Division.Name</a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Div</th>
                        <th>Round</th>
                        <th>Home Team</th>
                        <th></th>
                        <th>Away Team</th>
                        <th>Score</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Match item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-link btn-sm" asp-action="Details"
                                    asp-route-id="@item.Id">@item.MatchNumber</a>
                            </td>
                            <td>
                                <a class="btn btn-link btn-sm" asp-route-DivisionId="@item.DivisionId">
                                    @item.Division.Name
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm" asp-controller="Rounds" asp-action="Details"
                                    asp-route-Id="@item.TournamentRoundId" title="Go to round details">
                                    <i class="bi bi-bookshelf"></i>
                                </a>
                                <a class="btn btn-link btn-sm" asp-route-RoundId="@item.TournamentRoundId">
                                    @item.Round?.Name
                                </a>

                                <a class="btn btn-link btn-sm" asp-route-DivisionId="@item.DivisionId"
                                    asp-route-GroupName="@item.GroupName">
                                    @item.GroupName
                                </a>

                            </td>
                            <td>
                                <a class="btn btn-outline-secondary btn-sm" asp-route-TeamId="@item.HomeTeamId">
                                    <i class="bi bi-filter"></i>
                                </a>
                                <a class="btn btn-outline-primary btn-sm" asp-controller="Teams" asp-action="Details"
                                    asp-route-Id="@item.HomeTeamId" title="Go to team details">
                                    <i class="bi bi-info"></i>
                                </a>
                                @Html.DisplayFor(modelItem => item.HomeTeam, "Team")

                            </td>
                            <td class="text-nowrap">@item.HomeTeamScore - @item.AwayTeamScore</td>
                            <td>
                                <a class="btn btn-outline-secondary btn-sm" asp-route-TeamId="@item.AwayTeamId">
                                    <i class="bi bi-filter"></i>
                                </a>
                                <a class="btn btn-outline-primary btn-sm" asp-controller="Teams" asp-action="Details"
                                    asp-route-Id="@item.AwayTeamId" title="Go to team details">
                                    <i class="bi bi-info"></i>
                                </a>
                                @Html.DisplayFor(modelItem => item.AwayTeam, "Team")
                            </td>
                            <td class="text-nowrap">@item.HomeTeamScore - @item.AwayTeamScore</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MatchState, "MatchState")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
