@model VolleyballRallyManager.Lib.Models.Announcement

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>
    <div class="card">
        <div class="card-body">
            <h4>Announcement</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Priority)
                </dt>
                <dd class = "col-sm-10">
                    @Model.Priority.ToString()
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Content)
                </dt>
                <dd class = "col-sm-10">
                    @Html.Raw(Model.Content)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
