@model IEnumerable<VolleyballRallyManager.Lib.Models.TournamentTeamDivision>

@{
    ViewData["Title"] = "Teams";
}

<div class="container">
    <h1>Teams</h1>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Division</th>
                        <th>Group</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-link" asp-route-DivisionId="@item.DivisionId">
                                    @item.Division.Name
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-link" asp-route-DivisionId="@item.DivisionId" asp-route-GroupName="@item.GroupName">
                                    @item.GroupName
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.TeamId">
                                @item.Team.Name
                                </a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.TeamId">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
