@model Dictionary<VolleyballRallyManager.Lib.Models.Division, IEnumerable<VolleyballRallyManager.Lib.Models.TournamentTeamDivision>>

@foreach (var divisionTeams in Model)
{
    <div class="card mb-2">
        <div class="card-header">
            @divisionTeams.Key.Name
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var team in divisionTeams.Value)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @Html.DisplayFor(modelItem => team.GroupName, "Group")
                    <a asp-controller="TournamentTeams" asp-action="Details" asp-route-id="@team.Id">
                        @team.Team.Name
                    </a>
                    <small>(@Html.DisplayFor(modelItem => team.Team.School))
                    </small>
                    <span class="badge badge-primary badge-pill" title="seed">@team.SeedNumber</span>
                </li>
            }
        </ul>
    </div>
}
